.post {
  max-width:960px;
  background-color: #fff;
  margin:0 auto;
  padding-bottom: 30px;
  font-family:OCR A Std, monospace;
}

.posts  {
  text-align:center;
  .post:first-child {
    margin-top: 10px;
  }

  .post-title {
    font-size: 1.5em;

    .post-title-link {
      color:  #838B8B;
      text-decoration: none;
    }
  }

  .post-content {
    a {
      color: #368CCB;
      text-decoration: none;
    }
  }

  .post-meta {
    color: #BABABA;
  }
}
